*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'helvetica neue';
}
html,
body{
height: 100%;
width:100%;
}
#box1{
background-color: rgb(240, 81, 81);
height: 200px;
width: 200px;
position: absolute;
left: 40%;
top: 30%;
}
#box2{
  background-color: rgb(40, 40, 95);
  height: 200px;
width: 200px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
#box3{
  background-color: aquamarine;
  height: 200px;
width: 200px;
left: 43%;
top: 40%;
}
h1{
  height: 20px;
  position: absolute;
  left: 45%;
  width: 20px;
  color: rgb(232, 233, 234);
top: 50%;
transform: translate(-50%,-50%);
z-index: 9;
}