@font-face{
  font-family:hihi ;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
@font-face{
  font-family: monu;
  src: url(./Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: hello;
  src: url(./font_nothing.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

h1{
  color: red;
  background-color:lightblue;font-size: 50px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  font-family:"hihi";

}
h2{
  color: rgb(255,255,255);
  background-color: rgb(254,7,48);
  font-size: 50px;
  font-family: hello;
  font-weight: 100;
  text-align: center       ;
}

